In [8]:
import pickle
import pandas as pd

In [9]:
with open ('nfl.database.pkl', 'rb') as fl:
    database = pickle.load(fl)

In [10]:
len(database)

490

In [11]:
database.columns

Index(['index_challenger', 'First Downs_challenger', 'Rush-Yds-TDs_challenger',
       'Cmp-Att-Yd-TD-INT_challenger', 'Sacked-Yards_challenger',
       'Net Pass Yards_challenger', 'Total Yards_challenger',
       'Fumbles-Lost_challenger', 'Turnovers_challenger',
       'Penalties-Yards_challenger', 'Third Down Conv._challenger',
       'Fourth Down Conv._challenger', 'Time of Possession_challenger',
       'HOME/AWAY', 'TEAM', '1', '2', '3', '4', 'Final', 'WEEK',
       'index_defender', 'First Downs_defender', 'Rush-Yds-TDs_defender',
       'Cmp-Att-Yd-TD-INT_defender', 'Sacked-Yards_defender',
       'Net Pass Yards_defender', 'Total Yards_defender',
       'Fumbles-Lost_defender', 'Turnovers_defender',
       'Penalties-Yards_defender', 'Third Down Conv._defender',
       'Fourth Down Conv._defender', 'Time of Possession_defender'],
      dtype='object')

In [12]:
database.head()

,index_challenger,First Downs_challenger,Rush-Yds-TDs_challenger,Cmp-Att-Yd-TD-INT_challenger,Sacked-Yards_challenger,Net Pass Yards_challenger,Total Yards_challenger,Fumbles-Lost_challenger,Turnovers_challenger,Penalties-Yards_challenger,...,Cmp-Att-Yd-TD-INT_defender,Sacked-Yards_defender,Net Pass Yards_defender,Total Yards_defender,Fumbles-Lost_defender,Turnovers_defender,Penalties-Yards_defender,Third Down Conv._defender,Fourth Down Conv._defender,Time of Possession_defender
0,PHI,18,27-113-2,20-35-132-0-1,2-13,119,232,2-1,2,11-101,...,21-43-251-0-1,4-26,225,299,1-0,1,15-135,4-15,0-1,27:50
1,ATL,16,18-74-1,21-43-251-0-1,4-26,225,299,1-0,1,15-135,...,20-35-132-0-1,2-13,119,232,2-1,2,11-101,8-16,0-0,32:10
2,MIN,19,32-116-0,20-36-244-2-0,3-17,227,343,1-1,1,7-52,...,15-33-261-1-3,3-24,237,327,3-1,4,3-21,5-13,0-0,28:51
3,SFO,20,25-90-0,15-33-261-1-3,3-24,237,327,3-1,4,3-21,...,20-36-244-2-0,3-17,227,343,1-1,1,7-52,7-17,0-1,31:09
4,MIA,18,29-120-0,20-28-230-2-2,1-8,222,342,0-0,2,7-51,...,20-38-220-0-3,0-0,220,336,0-0,3,5-48,6-14,0-2,29:35

In [13]:
fl.close()

In [14]:
database.head()

,index_challenger,First Downs_challenger,Rush-Yds-TDs_challenger,Cmp-Att-Yd-TD-INT_challenger,Sacked-Yards_challenger,Net Pass Yards_challenger,Total Yards_challenger,Fumbles-Lost_challenger,Turnovers_challenger,Penalties-Yards_challenger,...,Cmp-Att-Yd-TD-INT_defender,Sacked-Yards_defender,Net Pass Yards_defender,Total Yards_defender,Fumbles-Lost_defender,Turnovers_defender,Penalties-Yards_defender,Third Down Conv._defender,Fourth Down Conv._defender,Time of Possession_defender
0,PHI,18,27-113-2,20-35-132-0-1,2-13,119,232,2-1,2,11-101,...,21-43-251-0-1,4-26,225,299,1-0,1,15-135,4-15,0-1,27:50
1,ATL,16,18-74-1,21-43-251-0-1,4-26,225,299,1-0,1,15-135,...,20-35-132-0-1,2-13,119,232,2-1,2,11-101,8-16,0-0,32:10
2,MIN,19,32-116-0,20-36-244-2-0,3-17,227,343,1-1,1,7-52,...,15-33-261-1-3,3-24,237,327,3-1,4,3-21,5-13,0-0,28:51
3,SFO,20,25-90-0,15-33-261-1-3,3-24,237,327,3-1,4,3-21,...,20-36-244-2-0,3-17,227,343,1-1,1,7-52,7-17,0-1,31:09
4,MIA,18,29-120-0,20-28-230-2-2,1-8,222,342,0-0,2,7-51,...,20-38-220-0-3,0-0,220,336,0-0,3,5-48,6-14,0-2,29:35

In [15]:
database['TEAM'].head()

0    Philadelphia Eagles
1        Atlanta Falcons
2      Minnesota Vikings
3    San Francisco 49ers
4         Miami Dolphins
Name: TEAM, dtype: object

In [16]:
database.shape

(490, 34)

In [17]:
database.dtypes

index_challenger                 object
First Downs_challenger           object
Rush-Yds-TDs_challenger          object
Cmp-Att-Yd-TD-INT_challenger     object
Sacked-Yards_challenger          object
Net Pass Yards_challenger        object
Total Yards_challenger           object
Fumbles-Lost_challenger          object
Turnovers_challenger             object
Penalties-Yards_challenger       object
Third Down Conv._challenger      object
Fourth Down Conv._challenger     object
Time of Possession_challenger    object
HOME/AWAY                        object
TEAM                             object
1                                 int64
2                                 int64
3                                 int64
4                                 int64
Final                             int64
WEEK                              int64
index_defender                   object
First Downs_defender             object
Rush-Yds-TDs_defender            object
Cmp-Att-Yd-TD-INT_defender       object
Sacked-Yards_defender            object
Net Pass Yards_defender          object
Total Yards_defender             object
Fumbles-Lost_defender            object
Turnovers_defender               object
Penalties-Yards_defender         object
Third Down Conv._defender        object
Fourth Down Conv._defender       object
Time of Possession_defender      object
dtype: object

In [22]:
database['Rush-Yds-TDs_defender'][1]

'27-113-2'

In [53]:
pd.set_option('display.max_rows', 20)

## Attempt, Yd, TD Splitter

In [27]:
test_df = pd.DataFrame() 

test_df['rush_stats_defender'] = database['Rush-Yds-TDs_defender']

In [28]:
test_df.columns

Index(['rush_stats_defender'], dtype='object')

In [29]:
test_df.head()

  rush_stats_defender
0             18-74-1
1            27-113-2
2             25-90-0
3            32-116-0
4            29-116-1

In [30]:


rush_test_val1 = '18-74-1'

rush_stats = rush_test_val1.split('-')
rush_stats

['18', '74', '1']

In [ ]:
def attemts_yds_td_split(stat_entry):
    stats = stat_entry.split('-')

In [32]:
test_df['rushes_defender'] = test_df['rush_stats_defender']

In [50]:
test_df.columns

Index(['rush_stats_defender', 'rushes_defender', 'HOME_RUSH_ATT',
       'DEFENDER_RUSH_YDS', 'DEFENDER_RUSH_TDs', 'DEFENDER_RUSH_ATT'],
      dtype='object')

In [41]:
test_df['rushes_defender'].apply(lambda stat: stat.split('-')[0]) # Attempts
#test_df['rushes_defender']
test_df['rushes_defender'].apply(lambda stat: stat.split('-')[1]) # Yards

test_df['rushes_defender'].apply(lambda stat: stat.split('-')[2]) # TDs 
0

0

In [44]:
test_df.columns

Index(['rush_stats_defender', 'rushes_defender', 'HOME_RUSH_ATT'], dtype='object')

In [49]:
test_df['DEFENDER_RUSH_ATT'] = test_df['rushes_defender'].apply(lambda stat: stat.split('-')[0])

test_df['DEFENDER_RUSH_YDS'] = test_df['rushes_defender'].apply(lambda stat: stat.split('-')[1])

test_df['DEFENDER_RUSH_TDs'] = test_df['rushes_defender'].apply(lambda stat: stat.split('-')[2])

In [52]:
test_df.drop(['HOME_RUSH_ATT'], axis=1)

,rush_stats_defender,rushes_defender,DEFENDER_RUSH_YDS,DEFENDER_RUSH_TDs,DEFENDER_RUSH_ATT
0,18-74-1,18-74-1,74,1,18
1,27-113-2,27-113-2,113,2,27
2,25-90-0,25-90-0,90,0,25
3,32-116-0,32-116-0,116,0,32
4,29-116-1,29-116-1,116,1,29
5,29-120-0,29-120-0,120,0,29
6,20-101-1,20-101-1,101,1,20
7,22-75-0,22-75-0,75,0,22
8,22-83-0,22-83-0,83,0,22
9,34-117-3,34-117-3,117,3,34
10,28-137-0,28-137-0,137,0,28
11,23-114-1,23-114-1,114,1,23
12,34-167-1,34-167-1,167,1,34
13,31-122-0,31-122-0,122,0,31
14,34-112-1,34-112-1,112,1,34
15,13-43-2,13-43-2,43,2,13
16,27-106-0,27-106-0,106,0,27
17,22-123-0,22-123-0,123,0,22
18,16-64-0,16-64-0,64,0,16
19,32-146-0,32-146-0,146,0,32
20,42-182-1,42-182-1,182,1,42
21,15-68-1,15-68-1,68,1,15
22,22-94-1,22-94-1,94,1,22
23,32-147-2,32-147-2,147,2,32
24,27-139-1,27-139-1,139,1,27
25,18-69-0,18-69-0,69,0,18
26,36-169-2,36-169-2,169,2,36
27,15-39-0,15-39-0,39,0,15
28,26-140-0,26-140-0,140,0,26
29,23-95-1,23-95-1,95,1,23
...,...,...,...,...,...
460,38-130-1,38-130-1,130,1,38
461,13-46-0,13-46-0,46,0,13
462,25-99-0,25-99-0,99,0,25
463,33-166-3,33-166-3,166,3,33
464,37-169-3,37-169-3,169,3,37
465,15-63-0,15-63-0,63,0,15
466,34-129-0,34-129-0,129,0,34
467,12-21-0,12-21-0,21,0,12
468,29-127-0,29-127-0,127,0,29
469,27-99-2,27-99-2,99,2,27
470,24-85-0,24-85-0,85,0,24
471,34-182-2,34-182-2,182,2,34
472,14-50-0,14-50-0,50,0,14
473,47-296-2,47-296-2,296,2,47
474,30-116-1,30-116-1,116,1,30
475,25-82-0,25-82-0,82,0,25
476,22-127-1,22-127-1,127,1,22
477,42-155-1,42-155-1,155,1,42
478,18-125-0,18-125-0,125,0,18
479,20-65-0,20-65-0,65,0,20
480,36-158-1,36-158-1,158,1,36
481,16-93-0,16-93-0,93,0,16
482,35-200-1,35-200-1,200,1,35
483,16-105-0,16-105-0,105,0,16
484,24-73-1,24-73-1,73,1,24
485,34-164-2,34-164-2,164,2,34
486,33-89-1,33-89-1,89,1,33
487,23-90-0,23-90-0,90,0,23
488,23-42-0,23-42-0,42,0,23
489,18-65-0,18-65-0,65,0,18

In [74]:
def split_and_join_rush_stats(df):
    
    df['RUSH_ATT_challenger'] = df['Rush-Yds-TDs_challenger'].apply(lambda stat: int(stat.split('-')[0]))

    df['RUSH_YDS_challenger'] = df['Rush-Yds-TDs_challenger'].apply(lambda stat: int(stat.split('-')[1]))

    df['RUSH_TDs_challenger'] = df['Rush-Yds-TDs_challenger'].apply(lambda stat: int(stat.split('-')[2]))
    
    
    df['RUSH_ATT_defender'] = df['Rush-Yds-TDs_defender'].apply(lambda stat: int(stat.split('-')[0]))

    df['RUSH_YDS_defender'] = df['Rush-Yds-TDs_defender'].apply(lambda stat: int(stat.split('-')[1]))

    df['RUSH_TDs_defender'] = df['Rush-Yds-TDs_defender'].apply(lambda stat: int(stat.split('-')[2]))
    

    
def split_and_join_pass_stats(df):
    
    df['PASS_CMP_challenger'] = df['Cmp-Att-Yd-TD-INT_challenger'].apply(lambda stat: int(stat.split('-')[0]))

    df['PASS_ATT_challenger'] = df['Cmp-Att-Yd-TD-INT_challenger'].apply(lambda stat: int(stat.split('-')[1]))

    df['PASS_YDs_challenger'] = df['Cmp-Att-Yd-TD-INT_challenger'].apply(lambda stat: int(stat.split('-')[2]))
    
    df['PASS_TDs_challenger'] = df['Cmp-Att-Yd-TD-INT_challenger'].apply(lambda stat: int(stat.split('-')[3]))
    
    df['PASS_INT_challenger'] = df['Cmp-Att-Yd-TD-INT_challenger'].apply(lambda stat: int(stat.split('-')[4]))
    
    
    df['PASS_CMP_defender'] = df['Cmp-Att-Yd-TD-INT_defender'].apply(lambda stat: int(stat.split('-')[0]))

    df['PASS_ATT_defender'] = df['Cmp-Att-Yd-TD-INT_defender'].apply(lambda stat: int(stat.split('-')[1]))

    df['PASS_YDs_defender'] = df['Cmp-Att-Yd-TD-INT_defender'].apply(lambda stat: int(stat.split('-')[2]))
    
    df['PASS_TDs_defender'] = df['Cmp-Att-Yd-TD-INT_defender'].apply(lambda stat: int(stat.split('-')[3]))
    
    df['PASS_INT_defender'] = df['Cmp-Att-Yd-TD-INT_defender'].apply(lambda stat: int(stat.split('-')[4]))

In [75]:
import copy
test_db = copy.deepcopy(database)

In [76]:
split_and_join_pass_stats(test_db)

In [77]:
split_and_join_rush_stats(test_db)

In [78]:
test_db[['Cmp-Att-Yd-TD-INT_challenger','PASS_CMP_challenger', 'PASS_ATT_challenger', 'PASS_YDs_challenger','PASS_TDs_challenger','PASS_INT_challenger']]

,Cmp-Att-Yd-TD-INT_challenger,PASS_CMP_challenger,PASS_ATT_challenger,PASS_YDs_challenger,PASS_TDs_challenger,PASS_INT_challenger
0,20-35-132-0-1,20,35,132,0,1
1,21-43-251-0-1,21,43,251,0,1
2,20-36-244-2-0,20,36,244,2,0
3,15-33-261-1-3,15,33,261,1,3
4,20-28-230-2-2,20,28,230,2,2
5,20-38-220-0-3,20,38,220,0,3
6,39-53-319-2-1,39,53,319,2,1
7,21-28-243-2-1,21,28,243,2,1
8,26-38-260-3-0,26,38,260,3,0
9,11-33-98-0-2,11,33,98,0,2
...,...,...,...,...,...,...
480,18-29-165-1-2,18,29,165,1,2
481,24-35-285-3-1,24,35,285,3,1
482,29-49-235-1-1,29,49,235,1,1
483,19-32-222-2-1,19,32,222,2,1
484,22-33-226-1-1,22,33,226,1,1
485,18-27-233-1-0,18,27,233,1,0
486,14-29-194-2-1,14,29,194,2,1
487,22-32-160-0-0,22,32,160,0,0
488,26-43-303-1-0,26,43,303,1,0
489,25-40-266-2-2,25,40,266,2,2

In [79]:
test_db[['Rush-Yds-TDs_challenger', 'RUSH_ATT_challenger', 'RUSH_YDS_challenger', 'RUSH_TDs_challenger']]

,Rush-Yds-TDs_challenger,RUSH_ATT_challenger,RUSH_YDS_challenger,RUSH_TDs_challenger
0,27-113-2,27,113,2
1,18-74-1,18,74,1
2,32-116-0,32,116,0
3,25-90-0,25,90,0
4,29-120-0,29,120,0
5,29-116-1,29,116,1
6,22-75-0,22,75,0
7,20-101-1,20,101,1
8,34-117-3,34,117,3
9,22-83-0,22,83,0
...,...,...,...,...
480,16-93-0,16,93,0
481,36-158-1,36,158,1
482,16-105-0,16,105,0
483,35-200-1,35,200,1
484,34-164-2,34,164,2
485,24-73-1,24,73,1
486,23-90-0,23,90,0
487,33-89-1,33,89,1
488,18-65-0,18,65,0
489,23-42-0,23,42,0

In [80]:
test_db.dtypes

index_challenger                object
First Downs_challenger          object
Rush-Yds-TDs_challenger         object
Cmp-Att-Yd-TD-INT_challenger    object
Sacked-Yards_challenger         object
Net Pass Yards_challenger       object
Total Yards_challenger          object
Fumbles-Lost_challenger         object
Turnovers_challenger            object
Penalties-Yards_challenger      object
                                 ...
PASS_ATT_defender                int64
PASS_YDs_defender                int64
PASS_TDs_defender                int64
PASS_INT_defender                int64
RUSH_ATT_challenger              int64
RUSH_YDS_challenger              int64
RUSH_TDs_challenger              int64
RUSH_ATT_defender                int64
RUSH_YDS_defender                int64
RUSH_TDs_defender                int64
Length: 50, dtype: object

In [81]:
test_db.shape

(490, 50)

In [82]:
Instead of dropping, probably just copy then drop...

SyntaxError: invalid syntax (<ipython-input-82-c357b7bff60a>, line 1)

In [83]:
test_db.drop(['Rush-Yds-TDs_challenger', 'Cmp-Att-Yd-TD-INT_challenger', 'Rush-Yds-TDs_defender', 'Cmp-Att-Yd-TD-INT_defender'], axis=1)

,index_challenger,First Downs_challenger,Sacked-Yards_challenger,Net Pass Yards_challenger,Total Yards_challenger,Fumbles-Lost_challenger,Turnovers_challenger,Penalties-Yards_challenger,Third Down Conv._challenger,Fourth Down Conv._challenger,...,PASS_ATT_defender,PASS_YDs_defender,PASS_TDs_defender,PASS_INT_defender,RUSH_ATT_challenger,RUSH_YDS_challenger,RUSH_TDs_challenger,RUSH_ATT_defender,RUSH_YDS_defender,RUSH_TDs_defender
0,PHI,18,2-13,119,232,2-1,2,11-101,8-16,0-0,...,43,251,0,1,27,113,2,18,74,1
1,ATL,16,4-26,225,299,1-0,1,15-135,4-15,0-1,...,35,132,0,1,18,74,1,27,113,2
2,MIN,19,3-17,227,343,1-1,1,7-52,7-17,0-1,...,33,261,1,3,32,116,0,25,90,0
3,SFO,20,3-24,237,327,3-1,4,3-21,5-13,0-0,...,36,244,2,0,25,90,0,32,116,0
4,MIA,18,1-8,222,342,0-0,2,7-51,2-10,0-1,...,38,220,0,3,29,120,0,29,116,1
5,TEN,19,0-0,220,336,0-0,3,5-48,6-14,0-2,...,28,230,2,2,29,116,1,29,120,0
6,IND,24,2-14,305,380,1-1,2,7-91,11-17,0-0,...,28,243,2,1,22,75,0,20,101,1
7,CIN,19,2-14,229,330,2-1,2,8-94,4-8,0-0,...,53,319,2,1,20,101,1,22,75,0
8,BAL,26,2-8,252,369,4-1,1,9-78,6-14,0-0,...,33,98,0,2,34,117,3,22,83,0
9,BUF,10,6-28,70,153,1-0,2,10-100,2-15,0-1,...,38,260,3,0,22,83,0,34,117,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480,TEN,11,0-0,165,258,1-1,3,9-75,1-9,0-1,...,35,285,3,1,16,93,0,36,158,1
481,IND,24,1-7,278,436,1-1,2,12-96,5-13,1-1,...,29,165,1,2,36,158,1,16,93,0
482,HOU,20,3-18,217,322,0-0,1,8-67,3-13,2-5,...,32,222,2,1,16,105,0,35,200,1
483,IND,26,0-0,222,422,0-0,1,2-10,9-14,0-0,...,49,235,1,1,35,200,1,16,105,0
484,DAL,23,1-10,216,380,0-0,1,6-36,4-11,0-0,...,27,233,1,0,34,164,2,24,73,1
485,SEA,11,1-7,226,299,0-0,0,5-36,2-13,2-2,...,33,226,1,1,24,73,1,34,164,2
486,BAL,11,7-55,139,229,4-2,3,7-41,5-15,2-2,...,32,160,0,0,23,90,0,33,89,1
487,LAC,14,1-6,154,243,1-1,1,5-35,6-17,1-1,...,29,194,2,1,33,89,1,23,90,0
488,CHI,17,2-12,291,356,0-0,0,3-52,5-16,0-0,...,40,266,2,2,18,65,0,23,42,0
489,PHI,21,1-8,258,300,0-0,2,3-25,6-13,1-1,...,43,303,1,0,23,42,0,18,65,0

In [85]:
test_db.shape

(490, 50)

In [88]:
import copy

def split_the_stats(df):
    splitting_db = copy.deepcopy(df)
    
    split_and_join_pass_stats(splitting_db)
    split_and_join_rush_stats(splitting_db)
    
    split_df = splitting_db.drop(['Rush-Yds-TDs_challenger', 'Cmp-Att-Yd-TD-INT_challenger', 'Rush-Yds-TDs_defender', 'Cmp-Att-Yd-TD-INT_defender'], axis=1)
        
    return split_df

## Changing Data Types

In [105]:
#Saving SplitDF
import pickle
with open('nfl.db.split_stats.pkl', 'wb') as fl:
    pickle.dump(split_stats_df, fl)
fl.close()

In [89]:
split_stats_df = split_the_stats(database)

In [96]:
split_stats_df.columns.tolist()

['index_challenger',
 'First Downs_challenger',
 'Sacked-Yards_challenger',
 'Net Pass Yards_challenger',
 'Total Yards_challenger',
 'Fumbles-Lost_challenger',
 'Turnovers_challenger',
 'Penalties-Yards_challenger',
 'Third Down Conv._challenger',
 'Fourth Down Conv._challenger',
 'Time of Possession_challenger',
 'HOME/AWAY',
 'TEAM',
 '1',
 '2',
 '3',
 '4',
 'Final',
 'WEEK',
 'index_defender',
 'First Downs_defender',
 'Sacked-Yards_defender',
 'Net Pass Yards_defender',
 'Total Yards_defender',
 'Fumbles-Lost_defender',
 'Turnovers_defender',
 'Penalties-Yards_defender',
 'Third Down Conv._defender',
 'Fourth Down Conv._defender',
 'Time of Possession_defender',
 'PASS_CMP_challenger',
 'PASS_ATT_challenger',
 'PASS_YDs_challenger',
 'PASS_TDs_challenger',
 'PASS_INT_challenger',
 'PASS_CMP_defender',
 'PASS_ATT_defender',
 'PASS_YDs_defender',
 'PASS_TDs_defender',
 'PASS_INT_defender',
 'RUSH_ATT_challenger',
 'RUSH_YDS_challenger',
 'RUSH_TDs_challenger',
 'RUSH_ATT_defender',
 'RUSH_YDS_defender',
 'RUSH_TDs_defender']

In [99]:
split_stats_df.dtypes

index_challenger                object
First Downs_challenger          object
Sacked-Yards_challenger         object
Net Pass Yards_challenger       object
Total Yards_challenger          object
Fumbles-Lost_challenger         object
Turnovers_challenger            object
Penalties-Yards_challenger      object
Third Down Conv._challenger     object
Fourth Down Conv._challenger    object
                                 ...
PASS_ATT_defender                int64
PASS_YDs_defender                int64
PASS_TDs_defender                int64
PASS_INT_defender                int64
RUSH_ATT_challenger              int64
RUSH_YDS_challenger              int64
RUSH_TDs_challenger              int64
RUSH_ATT_defender                int64
RUSH_YDS_defender                int64
RUSH_TDs_defender                int64
Length: 46, dtype: object

In [128]:
split_stats_df.get_dtype_counts()

object    24
int64     22
dtype: int64

In [125]:
split_stats_df.iloc[0:5,10:20]

,Time of Possession_challenger,HOME/AWAY,TEAM,1,2,3,4,Final,WEEK,index_defender
0,32:10,HOME,Philadelphia Eagles,0,3,7,8,18,1,ATL
1,27:50,AWAY,Atlanta Falcons,3,3,0,6,12,1,PHI
2,31:09,HOME,Minnesota Vikings,3,7,14,0,24,1,SFO
3,28:51,AWAY,San Francisco 49ers,0,3,10,3,16,1,MIN
4,30:25,HOME,Miami Dolphins,0,7,3,17,27,1,TEN

In [131]:
# split_stats_df.astype()

col_int_dtypes = {'First Downs_challenger': 'int64', \
                  'Net Pass Yards_challenger': 'int64',\
                 'Total Yards_challenger': 'int64', \
                  'Turnovers_challenger': 'int64', \
                  '1': 'int64', '2': 'int64', '3': 'int64', '4': 'int64', \
                  'Final': 'int64', \
                  'Net Pass Yards_defender': 'int64', \
                  'Total Yards_defender': 'int64', \
                  'Turnovers_defender': 'int64'}


database_typed = split_stats_df.astype(col_int_dtypes)

In [132]:
with open ('nfl.db.0.3.pkl', 'wb') as fl:
    pickle.dump(database_typed, fl)

fl.close()

## Splitting More Stats

In [138]:
split_stats_df.iloc[0:5,21:30]

,Sacked-Yards_defender,Net Pass Yards_defender,Total Yards_defender,Fumbles-Lost_defender,Turnovers_defender,Penalties-Yards_defender,Third Down Conv._defender,Fourth Down Conv._defender,Time of Possession_defender
0,4-26,225,299,1-0,1,15-135,4-15,0-1,27:50
1,2-13,119,232,2-1,2,11-101,8-16,0-0,32:10
2,3-24,237,327,3-1,4,3-21,5-13,0-0,28:51
3,3-17,227,343,1-1,1,7-52,7-17,0-1,31:09
4,0-0,220,336,0-0,3,5-48,6-14,0-2,29:35

In [148]:
# Sacked-Yards_challenger   2-13
# Fumbles-Lost_challenger    2-1
# Penalties-Yards_challenger  11-101

# Third Down Conv._challenger  8-16 -- Division
# Fourth Down Conv._challenger 0-1, 0/0 -- NaN Ratio ...  Just do Conversions...?
# 

def split_def_and_misc_stats(df):
    
    df['SACKS_challenger'] = df['Sacked-Yards_challenger'].apply(lambda stat: int(stat.split('-')[0]))
    df['SACK_YDs_challenger'] = df['Sacked-Yards_challenger'].apply(lambda stat: int(stat.split('-')[1]))

    df['SACKS_defender'] = df['Sacked-Yards_defender'].apply(lambda stat: int(stat.split('-')[0]))
    df['SACK_YDs_defender'] = df['Sacked-Yards_defender'].apply(lambda stat: int(stat.split('-')[1]))


    df['FUMBLES_challenger'] = df['Fumbles-Lost_challenger'].apply(lambda stat: int(stat.split('-')[0]))
    df['FUMBLES_LOST_challenger'] = df['Fumbles-Lost_challenger'].apply(lambda stat: int(stat.split('-')[1]))

    df['FUMBLES_defender'] = df['Fumbles-Lost_defender'].apply(lambda stat: int(stat.split('-')[0]))
    df['FUMBLES_LOST_defender'] = df['Fumbles-Lost_defender'].apply(lambda stat: int(stat.split('-')[1]))


    df['PENALTIES_challenger'] = df['Penalties-Yards_challenger'].apply(lambda stat: int(stat.split('-')[0]))
    df['PENALTY_YDs_challenger'] = df['Penalties-Yards_challenger'].apply(lambda stat: int(stat.split('-')[1]))

    df['PENALTIES_defender'] = df['Penalties-Yards_defender'].apply(lambda stat: int(stat.split('-')[0]))
    df['PENALTY_YDs_defender'] = df['Penalties-Yards_defender'].apply(lambda stat: int(stat.split('-')[1]))


    df['3rd_DWN_CONV_PCT_challenger'] = df['Third Down Conv._challenger'].apply(lambda stat: int(stat.split('-')[0]) / int(stat.split('-')[1]))
    df['3rd_DWN_CONV_PCT_defender'] = df['Third Down Conv._defender'].apply(lambda stat: int(stat.split('-')[0]) / int(stat.split('-')[1]))

In [149]:
import copy

def split_the_extra_stats(df):
    
    splitting_db = copy.deepcopy(df)
    
    split_def_and_misc_stats(splitting_db)
    
    split_df = splitting_db.drop(['Sacked-Yards_challenger', \
                                  'Sacked-Yards_defender', \
                                  'Fumbles-Lost_challenger', \
                                  'Fumbles-Lost_defender',\
                                 'Penalties-Yards_challenger',\
                                 'Penalties-Yards_defender',
                                 'Third Down Conv._challenger'], axis=1)
        
    return split_df

In [150]:
new_db = split_the_extra_stats(split_stats_df)

In [152]:
new_db.shape

(490, 53)

In [162]:
new_db.iloc[0:5,39:53]

,SACKS_challenger,SACK_YDs_challenger,SACKS_defender,SACK_YDs_defender,FUMBLES_challenger,FUMBLES_LOST_challenger,FUMBLES_defender,FUMBLES_LOST_defender,PENALTIES_challenger,PENALTY_YDs_challenger,PENALTIES_defender,PENALTY_YDs_defender,3rd_DWN_CONV_PCT_challenger,3rd_DWN_CONV_PCT_defender
0,2,13,4,26,2,1,1,0,11,101,15,135,0.500000,0.266667
1,4,26,2,13,1,0,2,1,15,135,11,101,0.266667,0.500000
2,3,17,3,24,1,1,3,1,7,52,3,21,0.411765,0.384615
3,3,24,3,17,3,1,1,1,3,21,7,52,0.384615,0.411765
4,1,8,0,0,0,0,0,0,7,51,5,48,0.200000,0.428571

In [163]:
#split_stats_df.iloc[0:5,21:30] #Changes check out
#

In [169]:
new_db['SACKS_challenger'].dtype

dtype('int64')

In [170]:
with open ('nfl.db.0.4.pkl', 'wb') as fl:
    pickle.dump(new_db, fl)

fl.close()

## Drop extra columns

In [171]:
new_db.columns.tolist()

['index_challenger',
 'First Downs_challenger',
 'Net Pass Yards_challenger',
 'Total Yards_challenger',
 'Turnovers_challenger',
 'Fourth Down Conv._challenger',
 'Time of Possession_challenger',
 'HOME/AWAY',
 'TEAM',
 '1',
 '2',
 '3',
 '4',
 'Final',
 'WEEK',
 'index_defender',
 'First Downs_defender',
 'Net Pass Yards_defender',
 'Total Yards_defender',
 'Turnovers_defender',
 'Third Down Conv._defender',
 'Fourth Down Conv._defender',
 'Time of Possession_defender',
 'PASS_CMP_challenger',
 'PASS_ATT_challenger',
 'PASS_YDs_challenger',
 'PASS_TDs_challenger',
 'PASS_INT_challenger',
 'PASS_CMP_defender',
 'PASS_ATT_defender',
 'PASS_YDs_defender',
 'PASS_TDs_defender',
 'PASS_INT_defender',
 'RUSH_ATT_challenger',
 'RUSH_YDS_challenger',
 'RUSH_TDs_challenger',
 'RUSH_ATT_defender',
 'RUSH_YDS_defender',
 'RUSH_TDs_defender',
 'SACKS_challenger',
 'SACK_YDs_challenger',
 'SACKS_defender',
 'SACK_YDs_defender',
 'FUMBLES_challenger',
 'FUMBLES_LOST_challenger',
 'FUMBLES_defender',
 'FUMBLES_LOST_defender',
 'PENALTIES_challenger',
 'PENALTY_YDs_challenger',
 'PENALTIES_defender',
 'PENALTY_YDs_defender',
 '3rd_DWN_CONV_PCT_challenger',
 '3rd_DWN_CONV_PCT_defender']

In [176]:
new_db['index_challenger'].head()

0    PHI
1    ATL
2    MIN
3    SFO
4    MIA
Name: index_challenger, dtype: object

In [179]:
test_new_names_df = new_db.rename({'TEAM': 'TEAM_LONG', 'index_challenger': 'TEAM_challenger', 'index_defender': 'TEAM_DEFENDER'}, axis=1)

In [181]:
test_new_names_df['TEAM_DEFENDER'].head()

0    ATL
1    PHI
2    SFO
3    MIN
4    TEN
Name: TEAM_DEFENDER, dtype: object

In [182]:
with open ('nfl.db.1.0.pkl', 'wb') as fl:
    pickle.dump(new_db, fl)

fl.close()